asgiref==3.11.0
Django==5.2.9
sqlparse==0.5.4
typing_extensions==4.15.0
uWSGI==2.0.31
pymongo==4.6.1
numpy==2.4.1
matplotlib==3.9.0
scikit-learn==1.8.0
pandas==2.3.3
openpyxl
requests
camoufox
playwright
selenium
webdriver-manager